{% extends "base.html" %}

{% block title %}Send Email{% endblock %}

{% block content %}
	<div class="send-email">
		<div class="description">
			<p>Send email to other people quickly using a dummy email. Just provide the neccessary details such as email address, subject, and the body of the message, then hit send. It will reach the your receiver in no time.</p>
		</div>
		<button type="button" class="button-create" onclick="createEmail()">Compose Email</button>
		<div class="send-form">
			<form method="POST">
				<div class="email-content">
					<fieldset class="card">
						<h5 class="card-header fw-bold">New Message</h5>
						<div class="input-group border-bottom">
							<label for="receiver" class="input-group-text">To</label>
							<input type="email" class="card-header form-control" name="receiver" id="receiver" required>
						</div>
						<div class="input-group border-bottom">
							<label for="subject" class="input-group-text">Subject</label>
							<input type="text" class="card-header form-control" name="subject" id="subject" required>
						</div>
						<textarea class="card-body form-control" name="message" rows="7" required></textarea>
						<div class="card-footer text-end">
							<div class="me-2 upload" onclick="uploadAttachment()">
								<i class="fa-solid fa-paperclip fa-xl"></i>
							</div>
							<div class="me-2 upload" onclick="uploadImage()">
								<i class="fa-solid fa-images fa-xl"></i>
							</div>
							<input type="submit" name="button-submit" value="Send Email">
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
{% endblock %}